asgiref==3.5.0
beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama==0.4.4
Django==4.0.3
django-cors-headers==3.11.0
django-filter==21.1
django-smuggler==1.0.4
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
idna==3.3
mip==1.13.0
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.0.1
PuLP==2.6.0
pycparser==2.21
PyJWT==2.3.0
pytz==2021.3
pyzbar==0.1.9
qrcode==7.3.1
requests==2.27.1
sounddevice==0.4.4
soupsieve==2.3.1
sqlparse==0.4.2
termcolor==1.1.0
twilio==7.7.0
tzdata==2021.5
urllib3==1.26.8
vosk==0.3.32
whitenoise==6.0.0
