{% extends 'index.html' %}
{% load static %}

{% block banner %}
    <div style="height:92px; border-bottom:1px solid black;">
        
    </div>
{% endblock %}

{% block content %}
    
    {% if step_form1 %}

        <div class="container-fluid bg-secondary" >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">Step 1 : Your informations</h5>
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                      {% csrf_token %}
                      {{ step_form1.as_p }}
                      <input class="btn btn-lg btn-primary right"  value="Next" type="submit">
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    {% endif %}

    {% if step_form2 %}
    
        <div class="container-fluid bg-secondary" >
          <div class="container">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-body">
                    <h5 class="card-title text-center">Step 2 : Informations of the reciever</h5>
                    <form method="post" enctype="multipart/form-data" action="." class="form-signin">
                      {% csrf_token %}
                      {{ step_form2.as_p }}
                      <button class="btn btn-lg btn-primary " type="submit">Next</button>
                      
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    {% endif %}

{% endblock %}

{%  block why_us %}
{% endblock %}

{% block find_more %}
{% endblock %}